<div class="article-container">
    <h1 style="text-align: center;">Donal Trump</h1>
    <div class="ksweat-hero"></div>
    
    <p style="line-height:33px;">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    </p>
    
    <h1 style="text-align: center;">MAGA</h1>
    <p style="line-height:33px;">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit earum totam quasi alias culpa, perspiciatis explicabo sint magni quibusdam aut tempora expedita rem? Cumque voluptas nulla impedit eos dolore magni.
    </p>
    
    <div class="card-authblock">
    <div class="card-date">July 09, 2030</div>
    <div class="card-author"><small>By</small> Author</div>
    </div>

