<div class="footer">

    <div class="support-itruth-box">
    <div class="support-headline">Support iTruth News</div>
    <div class="support-subtitle">iTruth News works hard to bring <br> you the news you care about.</div>
    <div class="support-flex-box">
    <button (click)="gotoContribute()" id="subbtn1"  >Contribute</button>
    <div style="width: 2rem;"></div>
    </div>
        
        
    <form id="" class="hero-form" action="#!">
    
    <div class="input-box">
    <input spellcheck="true" id="hero-text" type="text" placeholder="Search iTruth News">
    <span>
    <button class="search-btn">
    <img src="../../assets/img/search_icon.png" alt="">
    </button>
    </span>
    </div>
    </form>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="flex-footer">
    
    <div class="footer-tablebox"> 
    <div class="footer-headline">Get To Know Us</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Career</a></li>
    
    <div class="footer-seperator"></div>
    <li><a href="#!">About iTruth News</a></li>
    
  
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Investor Relations</a></li>
    
    <div class="footer-seperator"></div>
    <li><a (click)="gotoAdvertise()">Advertise</a></li>
    
  
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Company News</a></li>
    
    </ul>
    </div>
    <!--first tablebox stops here-->
    
    <div class="footer-tablebox"> 
    <div class="footer-headline">News</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Finance</a></li>
    
    <div class="footer-seperator"></div>
    <li><a (click)="gotogaming()">Gaming</a></li>
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Entertainment </a></li>
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Fashion</a></li>
    
    
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Education</a></li>
    
  
    
    </ul>
    </div>
    <!--seconds tablebox stops here-->
    
    <div class="footer-tablebox"> 
    <div class="footer-headline">World News</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
   
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Mexico</a></li>
    
    <div class="footer-seperator"></div>
    <li><a href="#!">South America </a></li>
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Europe</a></li>
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Asia</a></li>
    
 
    
    <div class="footer-seperator"></div>
    <li><a href="#!">Africa</a></li>
    
    </ul>
    </div>
    <!--third tablebox stops here-->
    
    <div class="footer-tablebox" style="border-right: none !important;"> 
    <div class="footer-headline">Help Center</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a (click)="gotoContact()" >Contact iTruth News</a></li>
    
    <div class="footer-seperator"></div>
    <li><a  (click)="gotoTerms()">Terms of Use</a></li>
    
   
    
    <div class="footer-seperator"></div>
    <li><a (click)="gotoFeedback()">Send Feedback</a></li>
    
    <div class="footer-seperator"></div>
    <li><a (click)="gotoPrivacy()">Privacy Policies</a></li>
    
    <div class="footer-seperator"></div>
    <li><a (click)="gotoCookie()">Cookie Policies</a></li>
    
 
    
    </ul>
    </div>
    <!--fourth tablebox stops here-->
    
    
    </div>
    
    <div id="spe-foot" style="border-bottom: solid #fff 1px;"></div>
    
    <p style="color: #fff; text-align: center;margin-bottom: 5px;
    letter-spacing: 2px;">
    &#169; iTruth News or its affiliated companies. All rights reserved. 
    </p>
    
    <div class="footer-logo-box">
    
    <a onclick="window.scrollTo(0, 0);"  class="logo-footer" style="color: #fff;">
    <img   
    src="../../assets/img/white_it-logo.webp" alt="">
    </a>
    
    </div>
    </div>
