<div class="contact">
<img src="../../assets/img/contact-itruthnews.png" alt="">
<p>We appreciate you taking the time to get in touch with iTruth News. If you'd want us to route your comment <br> to the appropriate itruth News section, please give the following information:</p>
</div>

<div style="display:grid;place-content:center">
<form action="">
    <label style="margin-bottom: 10px;font-size: 20px;" for="name">Full Name</label>
    <input type="text" id="name">
    <label style="margin-bottom: 10px;font-size: 20px;"  for="email">Email</label>
    <input type="email" id="name">

<label style="margin-bottom: 1rem;" for="topic"> <br> What is the subject of your inquiry or comment?</label>
<select name="state" id="topic">
<option value="select a topic">Select a Topic</option>
<option value="general question">General Question</option>
<option value="opinion">Opinion</option>
<option value="contact editor">Contact Editor</option>
<option value="career opportunities">Career Opportunities</option>
<option value="about donations">About Donations</option>
<option value="advertising">About Advertising</option>
</select>  
<label style="margin-bottom: 1rem;" for="topic"> <br> Message:</label>
<textarea name="" id="" cols="30" rows="10"></textarea>
<button>Submit Comment</button>
</form>
</div>

<h1 style="text-align: center;">Let's Connect</h1>

<div class="contact-img">
</div>