<div style="margin:auto" class="privacy-container">
    <h1>Cookie Policy</h1>

    <p>Cookies and other tracking technologies are used to collect and store information about your usage of Our Service. There are a variety of tracking technologies used to gather and analyze data, including beacons, tags, and scripts. We may employ technology such as:</p>
    
    <h1>Perception</h1>
 <p>Under the following circumstances, the meanings of words whose first letter is capitalized are clear. It doesn't matter whether the definitions are single or plural; they all signify the same thing!</p>
    
 <h1>Definitions  
</h1>

<p><li>Cookies, or browser cookies. Your device will be equipped with a little file called a cookie. You may set your browser to notify you when a Cookie is being sent, or to reject all Cookies. It's possible that You may not be able to utilize all of our Service if you reject cookies. Cookies may be used by our service unless you have configured your browser to reject them.</li></p>
<p><li>Cookies are classified as "Persistent" or "Session" depending on how long they remain in memory. Unlike Session Cookies, Persistent Cookies stay on Your personal computer or mobile device while You are offline.</li></p>

<h1>Session and Persistent Cookies are used for the following purposes:</h1>

<h1>cookie type: session cookies</h1>

<h1>In charge of: Ours</h1>

<p>These cookies are necessary for the website to function properly and for you to take use of some of its features. They aid in the verification of users and the prevention of account takeovers. We only use these cookies to offer the services you've requested; otherwise, we'd be unable to fulfill your request.</p>

<h1>Type of cookie: Persistent</h1>

<h1>In charge of: Ours</h1>

<p>These Cookies are used to determine whether or not a user has agreed to the Website's usage of cookies.</p>


</div>
