<div style="cursor: pointer;" (click)="gotomac()" class="main"></div>
<p class="main-text" >MacBook Pro</p> 

<h1 class="headline-title">Headline Tech News</h1>
<div class="content1">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Metaverse</h1></div>
<img (click)="gotometa()" style="cursor: pointer;" src="../../assets/img/meta.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotometa()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img (click)="gotoblock()" style="cursor: pointer;" src="../../assets/img/blockch.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoblock()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Gaming</h1></div>
<img (click)="gotonintendo()" style="cursor: pointer;" src="../../assets/img/ninten.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotonintendo()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img (click)="gotowindows()" style="cursor: pointer;" src="../../assets/img/wind11.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotowindows()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Web Development</h1></div>
<img (click)="gotoreact()" style="cursor: pointer;" src="../../assets/img/rj.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoreact()" class="card-btn">read</button>
</div>
</div>
<!--first row ends here-->


<h1 class="headline-title">Opinion Tech News</h1>
<div class="content2">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img (click)="gotozuck()" style="cursor: pointer;" src="../../assets/img/zuck.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotozuck()" class="card-btn">read</button>
</div>
        
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img (click)="gotoamazonring()" style="cursor: pointer;" src="../../assets/img/amzon-ring.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoamazonring()" class="card-btn">read</button>
</div>
        
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img (click)="gototik()" style="cursor: pointer;" src="../../assets/img/tik.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gototik()" class="card-btn">read</button>
</div>
        
        
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img (click)="gototwitter()" style="cursor: pointer;" src="../../assets/img/twit.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gototwitter()" class="card-btn">read</button>
</div>
        
        
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img (click)="gotomusk()" style="cursor: pointer;" src="../../assets/img/musk.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotomusk()" class="card-btn">read</button>
</div>
</div>
<!--second row ends here-->

<h1 class="headline-title">Gaming News</h1>
<div class="content3">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Playstation</h1></div>
<img (click)="gotohor()" style="cursor: pointer;" src="../../assets/img/hfw.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotohor()" class="card-btn">read</button>
</div>  

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Gaming</h1></div>
<img (click)="gotofort()" style="cursor: pointer;" src="../../assets/img/fort.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotofort()" class="card-btn">read</button>
</div>  

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Gaming</h1></div>
<img (click)="gotodoom()" style="cursor: pointer;" src="../../assets/img/doom.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotodoom()" class="card-btn">read</button>
</div>  

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Xbox</h1></div>
<img (click)="gotogears()" style="cursor: pointer;" src="../../assets/img/gears.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotogears()" class="card-btn">read</button>
</div>  

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Playstation</h1></div>
<img (click)="gotogodofwar()" style="cursor: pointer;" src="../../assets/img/godr.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotogodofwar()" class="card-btn">read</button>
</div>  




</div>
<!--third row ends here-->
<h1 class="headline-title">PC News</h1>
<div class="content3">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>PC Tech</h1></div>
<img (click)="gotogpu()" style="cursor: pointer;" src="../../assets/img/gpu-short.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotogpu()" class="card-btn">read</button>
</div>  

<div style="margin: auto;" class="card">
<div class="card-title"><h1>PC Tech</h1></div>
<img (click)="gotopsu()" style="cursor: pointer;" src="../../assets/img/psu.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotopsu()" class="card-btn">read</button>
</div>  

<div style="margin: auto;" class="card">
<div class="card-title"><h1>PC Tech</h1></div>
<img (click)="gotoryzen()" style="cursor: pointer;" src="../../assets/img/ryz.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoryzen()" class="card-btn">read</button>
</div>  

<div style="margin: auto;" class="card">
<div class="card-title"><h1>PC Tech</h1></div>
<img (click)="gotointelevo()" style="cursor: pointer;" src="../../assets/img/intel-evo.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotointelevo()" class="card-btn">read</button>
</div>  

<div style="margin: auto;" class="card">
<div class="card-title"><h1>PC Tech</h1></div>
<img (click)="gotorazer()" style="cursor: pointer;" src="../../assets/img/razerr.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotorazer()" class="card-btn">read</button>
</div>  




</div>
<!--fourth row ends here-->
<h1 class="headline-title">Web Development</h1>
<div class="content4">

    
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Web Development</h1></div>
<img (click)="gotoangular()" style="cursor: pointer;" src="../../assets/img/angualr.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoangular()" class="card-btn">read</button>
</div>  
    
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Web Development</h1></div>
<img (click)="gotovue()" style="cursor: pointer;" src="../../assets/img/vue.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotovue()" class="card-btn">read</button>
</div>  
    
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Web Development</h1></div>
<img (click)="gotopy()" style="cursor: pointer;" src="../../assets/img/pyth.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotopy()" class="card-btn">read</button>
</div>  
    
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Web Development</h1></div>
<img (click)="gotojav()" style="cursor: pointer;" src="../../assets/img/java.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotojav()" class="card-btn">read</button>
</div>  
    
    
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Web Development</h1></div>
<img (click)="gotoc()" style="cursor: pointer;" src="../../assets/img/csharp.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoc()" class="card-btn">read</button>
</div>  
    
</div>
<!--fifth row ends here-->

<h1 class="headline-title">UI/UX Design</h1>
<div class="content5">


<div style="margin: auto;" class="card">
<div class="card-title"><h1>UI/UX Design</h1></div>
<img (click)="gotofigma()" style="cursor: pointer;" src="../../assets/img/fig.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotofigma()" class="card-btn">read</button>
</div>  


          
<div style="margin: auto;" class="card">
<div class="card-title"><h1>UI/UX Design</h1></div>
<img (click)="gotohtmll()" style="cursor: pointer;" src="../../assets/img/htmll.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotohtmll()" class="card-btn">read</button>
</div>  




<div style="margin: auto;" class="card">
<div class="card-title"><h1>UI/UX Design</h1></div>
<img (click)="gotosket()" style="cursor: pointer;" src="../../assets/img/sket.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotosket()" class="card-btn">read</button>
</div>  


<div style="margin: auto;" class="card">
<div class="card-title"><h1>UI/UX Design</h1></div>
<img (click)="gotoadxd()" style="cursor: pointer;" src="../../assets/img/axd.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoadxd()" class="card-btn">read</button>
</div> 

<div style="margin: auto;" class="card">
<div class="card-title"><h1>UI/UX Design</h1></div>
<img (click)="gotocss1()" style="cursor: pointer;" src="../../assets/img/csspic.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotocss1()" class="card-btn">read</button>
</div>  


</div>

<!--sixth row ends here-->
