<div style="cursor: pointer;" (click)="gotoabort()" class="main"></div>
<p class="main-text" >Abortion</p> 


<h1 class="headline-title">Headline Politic News</h1>
<div class="content1">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img (click)="gotobeut()" style="cursor: pointer;" src="../../assets/img/beut.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotobeut()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img (click)="gotosup()" style="cursor: pointer;" src="../../assets/img/suprem.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotosup()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img (click)="gotopel()" style="cursor: pointer;" src="../../assets/img/polsi.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotosup()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>World News</h1></div>
<img (click)="gotoukr()" style="cursor: pointer;" src="../../assets/img/ukra.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoukr()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>World News</h1></div>
<img (click)="gotocan()" style="cursor: pointer;" src="../../assets/img/can.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotocan()" class="card-btn">read</button>
</div>
</div>


<h1 class="headline-title">Opinion Political News</h1>
<div class="content2">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>World News</h1></div>
<img (click)="gotopol()" style="cursor: pointer;" src="../../assets/img/pol.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotopol()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img (click)="gotouval()" style="cursor: pointer;" src="../../assets/img/uval.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotouval()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img (click)="gotogas()" style="cursor: pointer;" src="../../assets/img/gas.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotogas()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img (click)="gototrumpp()" style="cursor: pointer;" src="../../assets/img/trumpp.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gototrumpp()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img (click)="gotounrest()" style="cursor: pointer;" src="../../assets/img/keny.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotounrest()" class="card-btn">read</button>
</div>


</div>

<h1 class="headline-title">World News</h1>
<div class="content3">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Mexico</h1></div>
<img (click)="gotomex()" style="cursor: pointer;" src="../../assets/img/mex-car.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotomex()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>South America</h1></div>
<img (click)="gotoven()" style="cursor: pointer;" src="../../assets/img/ven.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoven()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>South America</h1></div>
<img (click)="gotobraz()" style="cursor: pointer;" src="../../assets/img/braz.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotobraz()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Europe</h1></div>
<img (click)="gotouk()" style="cursor: pointer;" src="../../assets/img/uk.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotouk()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Europe</h1></div>
<img (click)="gotoegy()" style="cursor: pointer;" src="../../assets/img/egy.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoegy()" class="card-btn">read</button>
</div>


</div>