<h1>iTruth News Terms of Use</h1>

<h1>An acknowledgment and acceptance of the terms</h1>

<p>The following terms and conditions govern your usage of any services provided by iTruth News ("TOU"). The TOU may be updated or <br>
     modified at any time by iTruth News without prior notification to you. The revised terms of service will be shown on the main page of iTruth News once we change the TOU.
   
</p>


<h1>Content</h1>
<p>It is iTruth News' or its content providers' exclusive responsibility to ensure that any material contained in or made accessible via the Services is free of infringement of iTruth News' or its content suppliers' intellectual property rights or other violations of other countries' or jurisdictions' unfair competition or trade dress laws. This includes but is not limited to the following: (collectively, "Content"). ITruth news and its licensors, suppliers, publishers, rightsholders and other content providers retain all rights not explicitly granted to you herein.</p>

<h1>Articles</h1>
<p>Documents (such as white papers, press releases, datasheets, and FAQs) from the Services may be used with permission provided that (1) the copyright notice below appears in all copies and that both the copyright notice and this permission notice appear, (2) unless specifically covered by another license or agreement, such Documents from the Services are used for informative and non-commercial or personal use only and will not be reproduced or posted anywhere else Schools, universities, and colleges, both public and private, as well as community colleges, may use the Documents for classroom delivery only if they are accredited educational institutions. Written permission must be obtained before distributing this material outside the classroom. Any other use is explicitly banned by law and might result in serious civil and criminal consequences. Infringers will face the harshest punishments achievable in a court of law.</p>

<h1>Services Utilized</h1>
<p >E-mail, bulletin boards, chat sections and other messaging or communication facilities may be provided by the Services to allow you to contact with others. Personal web pages and calendars may also be provided, as well as picture albums and file cabinets (each a "Communication Service" and collectively "Communication Services"). Use the Communication Services only to publish, transmit, and receive anything that is appropriate for the specific Communication Service in which you are participating. When you use the Communication Services, you agree not to do any of the following:

<li style="margin-top: 20px;">You can't defame or harass people; you can't threaten them or violate their rights (such as their right to privacy and publicity).</li>
<li >To avoid violating intellectual property laws such as copyright or trademark laws or rights of privacy or publicity, do not upload or otherwise make available files that contain images, photographs or other material that is protected by intellectual property laws, such as copyright or trademark laws (or by rights of privacy or publicity).</li>
<li >Make use of the Communication Services in conjunction with any kind of duplicative or unwanted communication (such as a survey, contest, pyramid scheme, or chain letter) (commercial or otherwise).</li>

</p>

<h1>Material Submitted to iTruth News Website</h1>
<p>If you publish, upload, input or submit any items to iTruth News or any of its connected services for review by the general public or by the members of any public or private community, iTruth News does not claim any ownership of the contents (each a "Submission" and collectively "Submissions"). Your Submission may be used in connection with iTruth News, its affiliated companies and its necessary sublicensees for the operation of their Internet businesses (including without limitation, all Microsoft Services), including without limitation, the license rights to: copy, distribute and transmit, publicly display and publicly perform the content of your Submission (including but not limited to the license rights to: reproduce, edit and translate the content of your Submission).</p>