<div style="cursor: pointer;" (click)="gotoapple()" class="main"></div>
<p class="main-text" >Apple Music is a great service</p> 



<h1 class="headline-title">Headline News</h1>
<div class="content1">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Music</h1></div>
<img (click)="gotosweat()" style="cursor: pointer;" src="../../assets/img/ksweat.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotosweat()" class="card-btn">read</button>
</div>

<!--music stops here-->

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Fashion</h1></div>
<img style="cursor: pointer;" (click)="gotojane()" src="../../assets/img/fashio-mock.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotojane()" class="card-btn">read</button>
</div>

<!--fashion stops here-->

<div style="margin: auto;" class="card">
<div class="card-title"><h1>World News</h1></div>
<img (click)="gotocov()" style="cursor: pointer;" src="../../assets/img/cov.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotocov()" class="card-btn">read</button>
</div>

<!--world news stop here-->

<div style="margin: auto;" class="card">
<div class="card-title"><h1>China</h1></div>
<img (click)="gotoxi()"  style="cursor: pointer;" src="../../assets/img/xi.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoxi()" class="card-btn">read</button>
</div>

<!--asian news stop here-->

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Finance</h1></div>
<img (click)="gotostock()" style="cursor: pointer;" src="../../assets/img/stock.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotostock()" class="card-btn">read</button>
</div>
</div>
<!--finance news stop here-->
<!--headline news stops here-->


<h1 class="headline-title tech">Tech News</h1>

<div class="content2">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img style="cursor: pointer;" (click)="gotoflutter()" src="../../assets/img/flu.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoflutter()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Gaming</h1></div>
<img style="cursor: pointer;" (click)="gotoplaystation()" src="../../assets/img/home-ps5.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoplaystation()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img style="cursor: pointer;" (click)="gotoaws()" src="../../assets/img/aws.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoaws()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img style="cursor: pointer;" (click)="gotogoogle()" src="../../assets/img/goog.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotogoogle()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Technology</h1></div>
<img style="cursor: pointer;" (click)="gotomicrosoft()" src="../../assets/img/micr.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotomicrosoft()" class="card-btn">read</button>
</div>

</div>
<!--tech news stops here-->

<h1 class="headline-title tech">Politics News</h1>

<div class="content3">

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Russia</h1></div>
<img style="cursor: pointer;" (click)="gotoval()" src="../../assets/img/rus.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotoval()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img style="cursor: pointer;" (click)="gotobiden()" src="../../assets/img/biee.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotobiden()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img style="cursor: pointer;" (click)="gotomitch()" src="../../assets/img/mitch.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotomitch()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img style="cursor: pointer;" (click)="gotofauc()" src="../../assets/img/fauc.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotofauc()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img style="cursor: pointer;" (click)="gotomacor()" src="../../assets/img/macor.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotomacor()" class="card-btn">read</button>
</div>

</div>
<!--politics news stops here-->

<h1 class="headline-title tech">Opinions</h1>

<div class="content4">
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img style="cursor: pointer;" (click)="gotovot()" src="../../assets/img/votee.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotovot()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Politics</h1></div>
<img style="cursor: pointer;" (click)="gototrump()" src="../../assets/img/trummp.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gototrump()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Education</h1></div>
<img style="cursor: pointer;" (click)="gotodebt()" src="../../assets/img/coolege-debt.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotodebt()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Sports</h1></div>
<img style="cursor: pointer;" (click)="gototom()" src="../../assets/img/tom.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gototom()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Finance</h1></div>
<img style="cursor: pointer;" (click)="gotokat()" src="../../assets/img/katw.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotokat()" class="card-btn">read</button>
</div>



</div>
<!--opinion news stops here-->
<h1 class="headline-title tech">Music</h1>

<div class="content5">
    
<div style="margin: auto;" class="card">
<div class="card-title"><h1>Music</h1></div>
<img style="cursor: pointer;" (click)="gotokel()" src="../../assets/img/rkel.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotokel()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Music</h1></div>
<img style="cursor: pointer;" (click)="gotowit()" src="../../assets/img/witn.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotowit()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Music</h1></div>
<img style="cursor: pointer;" (click)="gotomariah()" src="../../assets/img/mcr.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotomariah()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Music</h1></div>
<img style="cursor: pointer;" (click)="gotogerald()" src="../../assets/img/glevery.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotogerald()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Music</h1></div>
<img style="cursor: pointer;" (click)="gotomichael()" src="../../assets/img/mjjj.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotomichael()" class="card-btn">read</button>
</div>







</div>
<!--music news stops here-->

<h1 class="headline-title tech">Sports</h1>
<div class="content5">


<div style="margin: auto;" class="card">
<div class="card-title"><h1>Sports</h1></div>
<img style="cursor: pointer;" (click)="gotojordan()" src="../../assets/img/mj.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotojordan()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Sports</h1></div>
<img style="cursor: pointer;" (click)="gotolebron()" src="../../assets/img/llbr.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotolebron()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Sports</h1></div>
<img style="cursor: pointer;" (click)="gotocow()" src="../../assets/img/cowb.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotocow()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Sports</h1></div>
<img style="cursor: pointer;" (click)="gotodwade()" src="../../assets/img/dwad.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotodwade()" class="card-btn">read</button>
</div>

<div style="margin: auto;" class="card">
<div class="card-title"><h1>Sports</h1></div>
<img style="cursor: pointer;" (click)="gotodwade()" src="../../assets/img/hoc.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="gotohoc()" class="card-btn">read</button>
</div>





</div>
<!--sports news stops here-->