<div style="cursor: pointer;" (click)="gotox()" class="main"></div>
<p class="main-text" >DMX</p> 

<h1 class="headline-title">Headline Music News</h1>
<div class="content1">

 <div style="margin: auto;" class="card">
<div class="card-title"><h1>Hip-Hop</h1></div>
<img (click)="goto50()" style="cursor: pointer;" src="../../assets/img/50cen.jpeg" alt="">
<div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe eos fuga sit, aspernatur voluptas deleniti, blanditiis doloribus commodi corporis quia officiis inventore veritatis pariatur similique dolor, accusantium nulla ipsam! Maiores!</div>
<div class="card-authblock">
<div class="card-date">July 09, 2030</div>
<div class="card-author"><small>By</small> Author</div>
</div>
<button (click)="goto50()" class="card-btn">read</button>
</div>
</div>

