<div class="container">
<h1>Sponsored Work</h1>

<img src="../../assets/img/add.png" alt="">

<h1>Subscribe Now</h1>
<p>$1 Per Week</p>
<p>Get your work to the front of the page.  <br>
 iTruth news will publish your work to the front of our <br>
website for a fee.</p>




<div style="display:grid;place-content:center">
<form action="">
<label style="margin-bottom: 10px;font-size: 20px;" for="name">First Name</label>
<input type="text" id="name">
<label style="margin-bottom: 10px;font-size: 20px;" for="name">Last Name</label>
<input type="text" id="name">

<label style="margin-bottom: 10px;font-size: 20px;" for="name">Company</label>
<input type="text" id="name">

<label style="margin-bottom: 1rem;" for="topic"> <br> Company Type</label>
<select name="state" id="topic">
<option value="select a topic"></option>
<option value="select a topic">Advertiser</option>
<option value="select a topic">Agency</option>
<option value="select a topic">Brand</option>
</select>

<label style="margin-bottom: 1rem;" for="topic"> <br> Industry</label>
<select name="state" id="topic">
<option value="select a topic"></option>
<option value="select a topic">Technology</option>
<option value="select a topic">Gaming</option>
<option value="select a topic">Music</option>
<option value="select a topic">Fashion</option>
<option value="select a topic">Education</option>
<option value="select a topic">Sports</option>
<option value="select a topic">Finance</option>
<option value="select a topic">World News</option>
<option value="select a topic">Politics</option>
<option value="select a topic">Entertainment</option>
</select>

<label style="margin-bottom: 1rem;" for="topic"> <br> Message:</label>
<textarea name="" id="" cols="30" rows="10"></textarea>
<button>Submit Comment</button>
</form>
</div>
</div>
